.container {
  margin-left: 35px;
}
.title {
  font-size: 16px;
  margin: 10px;
}
.item {
  margin: 10px;
  padding: 5px;
}
.item:hover {
  color: red;
}
:global .active {
  color: red;
}
.error__message {
  color: red;
}
